@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Playfair Display', serif;
    

    display: grid;
    justify-items: center;
    align-items: center;
    grid-auto-rows: min-content;
    gap: 16px;

    background-color: black;
    color: white;



}

.title {
    font-size: 3rem;
}
.add-btn {
    font-family: inherit;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    background: none;
    color: inherit;
}

.books {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    width: 100%;
}

.book {
    aspect-ratio: 3/4;
    height: 300px;
    padding: 16px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    box-shadow: 3px 3px 1px white;
}
.book-info > h3 {
    padding-top: 8px;
}

.book-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%) scale(0);
    opacity: 0;
    transition: opacity .2s ease-in-out;
    z-index: 10;
    font-weight: bold;
    font-size: 2rem;
    border: none;
    background-color: #e2e8f0;
    width: clamp(300px, 50%, 600px);

    border-radius: 10px;
}

.close-button {
    background-color: #e2e8f0;
}

label, .read-status {
    color: black;
}
.modal input[type="text"], .modal-body button {
    padding: 8px 16px;
    border-radius: 5px;
    outline: none;
    box-shadow: 2px 2px 1px black;
    font-size: 1.25rem;
    font-family: inherit;
    border: none;
    transition: .09s;

}

.modal-body button {
    align-self: center;
    background-color: #CDC2AE;
    cursor: pointer;
}

.modal-body button:hover  {
    box-shadow: 1px 1px 1px black;
}

.read-status {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 16px;
}

input[type="checkbox"] {
    height: 32px;
    width: 32px;
}

label {
    font-size: 1.5rem;
}
.modal.active {
    transform: translate(-50%, -80%) scale(1);
    opacity: 1;

}

.modal-header {
    padding: 10px 15px;
    display: flex;
    color: black;
    justify-content: space-between;
    align-items: center;
}

.modal-header .close-button {
    cursor: pointer;
    background-color: none;
    outline: none;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}
#overlay.active {
    pointer-events: all;
    opacity: 1;
}

.modal-body form {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.remove {
    border: inherit;
    background: inherit;
    color: inherit;
    font-family: inherit;
    cursor: pointer;
    font-size: inherit;
}

.remove:hover {
    color: red;
}

.error-message {
    font-size: 1rem;
    color: black;
}

.read-status-changer {
    all: inherit;
    cursor: pointer;
    font-size: 1.25rem;
    transition: 0.1s;
    
}

.read-status-changer:hover {
    transform: scale(1.05);
}