@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif;
    

    display: grid;
    justify-items: center;
    align-items: center;
    grid-auto-rows: min-content;
    gap: 16px;

    background-color: black;
    color: white;



}

.title {
    font-size: 3rem;
}
.add-btn {
    font-family: inherit;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    background: none;
    color: inherit;
}

.books {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    width: 100%;
}

.book {
    aspect-ratio: 3/4;
    height: 300px;
    padding: 16px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    opacity: 0;
    transition: .2s ease-in-out;
    z-index: 10;

    font-size: 2rem;
    border: 1px solid black;
    background-color: white;
    width: clamp(300px, 50%, 600px);
    
}

.modal input, .modal-body button {
    padding: 8px 16px;
}

.modal.active {
    transform: translate(-50%, -80%);
    opacity: 1;

}

.modal-header {
    padding: 10px 15px;
    display: flex;
    color: black;
    justify-content: space-between;
    align-items: center;
}

.modal-header .close-button {
    cursor: pointer;
    background-color: none;
    outline: none;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}
#overlay.active {
    pointer-events: all;
    opacity: 1;
}

.modal-body form {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}